<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <%= @transfer.sender.username %>, this is to confirm that you have requested a transfer of <%= number_to_currency @transfer.amount_dollars %> to <%= @transfer.receiver.username %>.  We are currently reviewing your request and will let you know of the result as soon as possible.  <br/>
  Thank you, <br/> <br/>
  FantasyBook.guru
</body>
</html>
