<div class="container padding-large-horizontal">

  <h1> Contact Us </h1>

  <p> Feel free to email us to provide some feedback on our site, give us suggestions for new features or games, or to just say hello! </p>

  <p> <a href="mailto:info@fantasybook.guru" target="_top"> info@fantasybook.guru </a>  </p>

  <p>
   <a href="https://twitter.com/fantasybooklive" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
   <a href="https://www.facebook.com/pages/Fantasybookguru/1503513283269643" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
  </p>

</div>
