<div class="container padding-large-horizontal">

  <h1> Rules </h1>

    <h2> MATCHUP CONTESTS </h2>

    <p class="normal">This is a contest that is a peer vs peer challenge.  Customers create a matchup by selecting players for both sides of the matchup.  Customers offer the amount they are willing to challenge.  Other customers may take part in any challenges available that are displayed in the matchup contest lobby. </p>

    <h2> SCORING </h2>

    <p class="normal"> All stats from ESPN.com.  FantasyBook reserves the right to make changes when necessary.  All scoring decisions are final. </p>

    <h2> MLB </h2>
      <h3>POINT SCORING</h3>
    <ul>
        <li>Hitters will accumulate points as follows:
        <ul>
          <li>Single = +1 Pt</li>
          <li>Double = +2 Pts</li>
          <li>Triple = +3 Pts</li>
          <li>Home Run = +4 Pts</li>
          <li>Run Batted In = +2 Pts</li>
          <li>Run = +2 Pts</li>
          <li>Base on Balls = +1 Pt</li>
          <li>Hit By Pitch = +1 Pt</li>
          <li>Stolen Base = +2 Pts</li>
        </ul>
        </li>
    </ul>

    <ul>
        <li>Pitchers will accumulate points as follows:
          <ul>
          <li>Inning Pitched = +1.5 Pts</li>
          <li>Strike Out = +1 Pt</li>
          <li>Win = +3 Pts</li>
          <li>Complete Game = +2 Pts</li>
          <li>Complete Game Shut Out = +2 Pts</li>
        </ul>
        </li>
        <li>*NOTE: Hitting statistics for Pitchers will not be counted, and Pitching statistics for Hitters will not be counted.</li>
    </ul>

    <h2>Other Rules</h2>

      <h3> ACTION </h3>
        <p class="normal"> All players must start for action </p>

      <h3>POSITION ELIGIBILITY</h3>
        <p class="normal">All Position determinations for daily contests are at the sole discretion of FantasyBook.</p>

      <h3>TRADES, FREE AGENTS, AND BENCH PLAYERS</h3>
        <p class="normal">Since you only select players for a single series of games or events, there will be no trading of players, no free agent pick-ups, and no bench players involved in the contests.</p>

      <h3>TRADED PLAYER POLICY</h3>
        <p class="normal">For instances when a player is traded (changes teams) after contests have been posted:</p>
        <p class="normal">A. If the player's old and new teams are included in the exact same draft groups for that date, then the player's new team will be reflected in Draft Rooms and he will be eligible to record points.</p>
        <p class="normal">B. If the player's old and new teams are in any different draft groups for that date, then the player will remain on his old team and will be ineligible to record points. In this case, the traded player will be labeled OUT ("O") in Draft Rooms.</p>
        <p class="normal">  A "draft group" is a group of games within a sport that are included in the scoring results for contests. FantasyBook often has multiple draft groups offered for a sport on the same date.
        For example: FantasyBook might offer contests with a draft group including all games on a specific date. Additionally, a draft group including only games starting at 10pm or later might be offered simultaneously.</p>

      <h3>GAME CANCELLATIONS AND POSTPONEMENTS</h3>
        <p class="normal">In the event that a scheduled game is cancelled, preempted, or postponed for any reason after the start of the contest that includes such cancelled, preempted or postponed game, no points will be awarded for players in the cancelled, preempted or postponed game or event.</p>

      <h3>SUSPENDED OR SHORTENED GAMES</h3>
        <p class="normal">FantasyBook uses official MLB statistics as provided by STATS LLC and includes all games that MLB deems to be official and complete. If MLB declares a game "suspended" then the statistics that are generated the day the game is originally scheduled will be used. Any statistics generated on a later date when the game is completed will not be included due to the one day nature of our contests.</p>

      <h3>DOUBLEHEADERS</h3>
        <p class="normal">In no instance will we ever combine scores for both games of a doubleheader into a single score for an individual player. FantasyBook creates contests based on the starting times for MLB games. We refer to them as "early" or "late", or based on their individual starting times. When a doubleheader is scheduled well in advance, FantasyBook, at its sole discretion, will list either game, or both games, based on the scheduled time for those particular games.</p>
        <p class="normal">There may be instances where FantasyBook is unable to separately list doubleheader games, such as when a doubleheader is the result of a recent postponed game. In these cases, only the originally scheduled game will be used when scoring drafted players. This is usually because a FantasyBook contest has already been created for that MLB game day, and customers may have already drafted teams based on the original game schedule. Please note that the originally scheduled game may wind up being either game of the doubleheader, so be sure to pay attention to the listed start time when selecting your roster.</p>

      <h3>ROSTER DEADLINES</h3>
        <p class="normal">Contest entry will close approximately one minute before the start of the first game in the contest. You can edit your full roster as many times as you like before the contest closes and begins. After this point, you can continue to edit and swap any player up until the start of their individual game time. Player editing locks when the scheduled start time for their game begins. Players editing will NOT be available when and if a game is delayed or postponed.</p>

      <h3>LIVE SCORING</h3>
        <p class="normal">Baseball contests that offer live scoring and standings updates are strictly for the enjoyment of FantasyBook customers. However, they are not official and are for informational purposes only. Official scores and results will be posted at the conclusion of the contest. You will know when the final results are posted when the contest status updates to "Completed", and the contests moves from the "Live Games" section to the "Completed Games" section on the My Contests page.</p>
        <p class="normal">Live scores are calculated using the standard fantasy league points system. See the Rules and scoring link on each draft screen for the specific points and categories used in that contest.</p>

      <h3>SCORING REVISIONS</h3>
        <p class="normal">During each game, FantasyBook receives live scoring updates from our stats provider, STATS LLC. After the game has concluded, FantasyBook receives a final box score, which will be used to calculate the results of each contest. However, the leagues and stats provider will occasionally revise box scores after the final box score has been released. In the event this occurs, the player scores on FantasyBook will not be updated and the settlements will not be revised. Note that this is not the same situation as a case where a correction needs to be made after settlement due to a bug or issue with the data feed or the settlement process. In these cases the settlement process (including payment) may be reversed and redone correctly.</p>

      <h3>PAYOUTS</h3>
        <p class="normal">FantasyBook will wait until all of the final box scores have been reported for each contest's games to ensure that the final results are accurate. Our statistics provider, STATS LLC will occasionally make revisions to final box scores that correct statistics published live during the games. In those cases, payouts will be based on the final box scores, not the box scores published during live games. If revisions are made after the final box scores are published, payouts will not be reversed or changed. If there is difficulty obtaining official results or issues with scoring, the contest may be settled the following day or whenever the final box scores are initially published.</p>

    <h2> NFL </h2>
      <h3>POINT SCORING</h3>
    <ul>
      <li>Offensive players will accumulate points as follows:
        <ul>
          <li>Passing TD = +4Pts</li>
          <li>25 Passing Yards = +1Pt (+0.04Pt/ per yard is awarded)</li>
          <li>300+ Yard Passing Game = +3Pts</li>
          <li>Interception = -1Pt</li>
          <li>10 Rushing Yards = +1Pt (+0.1Pt per yard is awarded)</li>
          <li>Rushing TD = +6Pts</li>
          <li>100+ Yard Rushing Game = +3Pts</li>
          <li>10 Receiving Yards = +1Pt (+0.1Pt per yard is awarded)</li>
          <li>Reception = +1Pt</li>
          <li>Receiving TD = +6Pts</li>
          <li>100+ Yard Receiving Game = +3Pts</li>
          <li>Punt/Kickoff Return for TD = +6Pts</li>
          <li>Fumble Lost = -1Pt</li>
          <li>2 Point Conversion (Pass, Run, or Catch) = +2Pts</li>
          <li>Offensive Fumble Recovery TD = +6Pts</li>
        </ul>
      </li>
    </ul>
    <ul>
      <li>Defense/Special Teams will accumulate points as follows:
        <ul>
          <li>Sack = +1Pt/li>
          <li>Interception = +2Pts</li>
          <li>Fumble Recovery = +2Pts</li>
          <li>Kickoff Return TD = +6Pts</li>
          <li>Punt Return TD = +6Pts</li>
          <li>Interception Return TD = +6Pts</li>
          <li>Fumble Recovery TD = +6Pts</li>
          <li>Blocked Punt or FG Return TD = +6Pts</li>
          <li>Safety = +2Pts</li>
          <li>Blocked Kick = +2Pts</li>
          <li>0 Points Allowed = +10Pts</li>
          <li>1-6 Points Allowed = +7Pts</li>
          <li>7-13 Points Allowed = +4Pts</li>
          <li>14-20 Points Allowed = +1Pt</li>
          <li>21-27 Points Allowed = 0Pts</li>
          <li>28-34 Points Allowed = -1Pt</li>
          <li>35+ Points Allowed = -4Pts</li>
        </ul>
        The following scoring plays will result in Points Allowed (PA) by your Defense/Special Teams (DST):
        <ul>
          <li>Rushing TDs, Passing TDs, Punt Return TDs, Kick Return TDs and Blocked Punt TDs</li>
          <li>2pt conversions</li>
          <li>Extra-points</li>
          <li>Field-goals</li>
        </ul>
        *Note: Points Allowed (PA) only includes points surrendered while DST is on the field - doesn't include points given up by team's offense (i.e. points off offensive turnovers).
        </li>
    </ul>


    <h2>ADDITIONAL RULES</h2>

      <h3>POSITION ELIGIBILITY</h3>
        <p class="normal">All Position determinations for daily contests are at the sole discretion of FantasyBook.</p>
        <p class="normal">Players will be assigned to the position which they play most often, as determined by our statistics provider, STATS LLC. Some players do play multiple positions in real life, but you may only draft them onto your team using their position listed on our site.</p>

      <h3>TRADES, FREE AGENTS, AND BENCH PLAYERS</h3>
        <p class="normal">Since you only select players for a single series of games or events, there will be no trading of players, no free agent pick-ups, and no bench players involved in the contests.</p>

      <h3>TRADED PLAYER POLICY</h3>
        <p class="normal">For instances when a player is traded (changes teams) after contests have been posted:</p>
        <p class="normal">A. If the player's old and new teams are included in the exact same draft groups for that date, then the player's new team will be reflected in Draft Rooms and he will be eligible to record points.</p>
        <p class="normal">B. If the player's old and new teams are in any different draft groups for that date, then the player will remain on his old team and will be ineligible to record points. In this case, the traded player will be labeled OUT ("O") in Draft Rooms.</p>
        <p class="normal">
        A "draft group" is a group of games within a sport that are included in the scoring results for contests. FantasyBook often has multiple draft groups offered for a sport on the same date.
        For example: FantasyBook might offer contests with a draft group including all games on a specific date. Additionally, a draft group including only games starting at 10pm or later might be offered simultaneously.
        </p>

      <h3>GAME CANCELLATIONS AND POSTPONEMENTS</h3>
        <p class="normal">In the event that a scheduled game is cancelled, preempted, or postponed for any reason after the start of the contest that includes such cancelled, preempted or postponed game, no points will be awarded for players in the cancelled, preempted or postponed game or event.</p>

      <h3>SUSPENDED OR SHORTENED GAMES</h3>
        <p class="normal">FantasyBook uses official NFL statistics as provided by STATS LLC and includes all games that the NFL deems to be official and complete. If the NFL declares a game "suspended" then the statistics that are generated the day the game is originally scheduled will be used. Any statistics generated on a later date when the game is completed will not be included due to the one day nature of our contests.</p>

      <h3>ROSTER DEADLINES</h3>
        <p class="normal">Contests will close approximately five minutes before the start of the first game included in the contest. You can edit your roster as many times as you like, please note that a player becomes locked and may not be added or removed once that particular player's game has begun.</p>

      <h3>LIVE SCORING</h3>
        <p class="normal">Football contests that offer live scoring and standings updates are strictly for the enjoyment of FantasyBook customers. However, they are not official and are for informational purposes only. Official scores and results will be posted at the conclusion of the contest. You will know when the final results are posted when the contest status updates to "Completed", and the contests moves from the "Live Games" section to the "Completed Games" section on the My Contests page.</p>
        <p class="normal">Live scores are calculated using the standard fantasy league points system. See the Point Scoring section above for the specific points and categories used in this contest.</p>

      <h3>SCORING REVISIONS</h3>
        <p class="normal">During each game, FantasyBook receives live scoring updates from our stats provider, STATS LLC. After the game has concluded, FantasyBook receives a final box score, which will be used to calculate the results of each contest. However, the leagues and stats provider will occasionally revise box scores after the final box score has been released. In the event this occurs, the player scores on FantasyBook will not be updated and the settlements will not be revised. Note that this is not the same situation as a case where a correction needs to be made after settlement due to a bug or issue with the data feed or the settlement process. In these cases the settlement process (including payment) may be reversed and redone correctly.</p>

      <h3>PAYOUTS</h3>
        <p class="normal">FantasyBook will wait until all of the final box scores have been reported for each contest's games to ensure that the final results are accurate. Our statistics provider, STATS LLC will occasionally make revisions to final box scores that correct statistics published live during the games. In those cases, payouts will be based on the final box scores, not the box scores published during live games. If revisions are made after the final box scores are published, payouts will not be reversed or changed. If there is difficulty obtaining official results or issues with scoring, the contest may be settled the following day or whenever the final box scores are initially published.</p>

    <h2> NHL </h2>
      <h3>POINT SCORING</h3>
        <ul>
            <li>Players will accumulate points as follows:
                <ul>
                    <li>Goal = +3 Pts</li>
                    <li>Assist = +2 Pts</li>
                </ul>
            </li>
            <li>Goalies only will accumulate points as follows:
            <ul>
                <li>Win = +3 Pts</li>
                <li>Save =   +0.15 Pts</li>
            </ul>
            </li>
            <li>Goalie Scoring Notes:
            <ul>
                <li>Goalies WILL NOT receive points for goals or assists.</li>
            </ul>
            </li>
        </ul>


      <h2>ADDITIONAL RULES</h2>

      <h3>ACTION</h3>
      <p class="normal"> All players must play for action </p>

      <h3>POSITION ELIGIBILITY</h3>
      <p class="normal">All Position determinations for daily contests are at the sole discretion of FantasyBook.</p>

      <h3>TRADES, FREE AGENTS, AND BENCH PLAYERS</h3>
      <p class="normal">Since you only select players for a single day's games or events, there will be no trading of players, no free agent pick-ups, and no bench players involved in the contests.</p>

      <h3>TRADED PLAYER POLICY</h3>
      <p class="normal">For instances when a player is traded (changes teams) after contests have been posted:</p>
      <p class="normal">A. If the player's old and new teams are included in the exact same draft groups for that date, then the player's new team will be reflected in Draft Rooms and he will be eligible to record points.</p>
      <p class="normal">B. If the player's old and new teams are in any different draft groups for that date, then the player will remain on his old team and will be ineligible to record points. In this case, the traded player will be labeled OUT ("O") in Draft Rooms.</p>
      <p class="normal">
        A "draft group" is a group of games within a sport that are included in the scoring results for contests. FantasyBook often has multiple draft groups offered for a sport on the same date.
        For example: FantasyBook might offer contests with a draft group including all games on a specific date. Additionally, a draft group including only games starting at 10pm or later might be offered simultaneously.
      </p>

      <h3>GAME CANCELLATIONS AND POSTPONEMENTS</h3>
      <p class="normal">In the event that a scheduled game is cancelled, preempted, or postponed for any reason after the start of the contest that includes such cancelled, preempted or postponed game, no points will be awarded for players in the cancelled, preempted or postponed game or event.</p>

      <h3>SUSPENDED OR SHORTENED GAMES</h3>
      <p class="normal">FantasyBook uses official NHL Hockey statistics as provided by STATS LLC and includes all games that the NHL deems to be official and complete. If the NHL declares a game "suspended" then the statistics that are generated the day the game is originally scheduled will be used. Any statistics generated on a later date when the game is completed will not be included due to the one day nature of our contests.</p>

      <h3>ROSTER DEADLINES</h3>
      <p class="normal">Contest entry will close approximately one minute before the start of the first game included in the contest. You can edit your roster as many times as you like before the contest closing time, and you can continue to edit players after contest start time that have not started playing yet.  Once an NHL game begins, all players on participating teams will lock and can no longer be edited.</p>

      <h3>LIVE SCORING</h3>
      <p class="normal">NHL Hockey contests that offer live scoring and standings updates are strictly for the enjoyment of FantasyBook customers. However, they are not official and are for informational purposes only. Official scores and results will be posted at the conclusion of the contest. You will know when the final results are posted when the contest status updates to "Completed", and the contests moves from the "Live Games" section to the "Completed Games" section on the <a href="/contest/mycontests">My Contests</a> page.</p>
      <p class="normal">Live scores are calculated using the standard fantasy league points system. See the Rules and scoring link on each draft screen for the specific points and categories used in that contest.</p>

      <h3>SCORING REVISIONS</h3>
      <p class="normal">During each game, FantasyBook receives live scoring updates from our stats provider, STATS LLC. After the game has concluded, FantasyBook receives a final box score, which will be used to calculate the results of each contest. However, the leagues and stats provider will occasionally revise box scores after the final box score has been released. In the event this occurs, the player scores on FantasyBook will not be updated and the settlements will not be revised. Note that this is not the same situation as a case where a correction needs to be made after settlement due to a bug or issue with the data feed or the settlement process. In these cases the settlement process (including payment) may be reversed and redone correctly.</p>

      <h3>PAYOUTS</h3>
      <p class="normal">FantasyBook will wait until all of the final box scores have been reported for each contest's games to ensure that the final results are accurate. Our statistics provider, STATS LLC will occasionally make revisions to final box scores that correct statistics published live during the games. In those cases, payouts will be based on the final box scores, not the box scores published during live games. If revisions are made after the final box scores are published, payouts will not be reversed or changed. If there is difficulty obtaining official results or issues with scoring, the contest may be settled the following day or whenever the final box scores are initially published.</p>

    <h2> NBA </h2>
      <h3>POINT SCORING</h3>
        <ul>
            <li>Players will accumulate points as follows:
            <ul>
                <li>Point = +1 Pt</li>
                <li>Rebound = +1.25 Pts</li>
                <li>Assist = +1.5 Pts</li>
                <li>Steal = +2 Pts</li>
                <li>Block = +2 Pts</li>
            </ul>
            </li>
        </ul>


      <h2>ADDITIONAL RULES</h2>

      <h3>ACTION</h3>
      <p class="normal">All players must play for action </p>

      <h3>POSITION ELIGIBILITY</h3>
      <p class="normal">All Position determinations for daily contests are at the sole discretion of FantasyBook.</p>

      <h3>TRADES, FREE AGENTS, AND BENCH PLAYERS</h3>
      <p class="normal">Since you only select players for a single day's games or events, there will be no trading of players, no free agent pick-ups, and no bench players involved in the contests.</p>

      <h3>TRADED PLAYER POLICY</h3>
      <p class="normal">For instances when a player is traded (changes teams) after contests have been posted:</p>
      <p class="normal">A. If the player's old and new teams are included in the exact same draft groups for that date, then the player's new team will be reflected in Draft Rooms and he will be eligible to record points.</p>
      <p class="normal">B. If the player's old and new teams are in any different draft groups for that date, then the player will remain on his old team and will be ineligible to record points. In this case, the traded player will be labeled OUT ("O") in Draft Rooms.</p>
      <p class="normal">
          A "draft group" is a group of games within a sport that are included in the scoring results for contests. FantasyBook often has multiple draft groups offered for a sport on the same date.
          For example: FantasyBook might offer contests with a draft group including all games on a specific date. Additionally, a draft group including only games starting at 10pm or later might be offered simultaneously.
      </p>

      <h3>GAME CANCELLATIONS AND POSTPONEMENTS</h3>
      <p class="normal">In the event that a scheduled game is cancelled, preempted, or postponed for any reason after the start of the contest that includes such cancelled, preempted or postponed game, no points will be awarded for players in the cancelled, preempted or postponed game or event.</p>

      <h3>SUSPENDED OR SHORTENED GAMES</h3>
      <p class="normal">FantasyBook uses official NBA Basketball statistics as provided by STATS LLC and includes all games that the NBA deems to be official and complete. If the NBA declares a game "suspended" then the statistics that are generated the day the game is originally scheduled will be used. Any statistics generated on a later date when the game is completed will not be included due to the one day nature of our contests.</p>

      <h3>ROSTER DEADLINES</h3>
      <p class="normal">Contests will close approximately five minutes before the start of the first game included in the contest. You can edit your roster as many times as you like, please note that a player becomes locked and may not be added or removed once that particular player's game has begun.</p>

      <h3>LIVE SCORING</h3>
      <p class="normal">NBA Basketball contests that offer live scoring and standings updates are strictly for the enjoyment of FantasyBook customers. However, they are not official and are for informational purposes only. Official scores and results will be posted at the conclusion of the contest. You will know when the final results are posted when the contest status updates to "Completed", and the contests moves from the "Live Games" section to the "Completed Games" section on the My Contests page.</p>
      <p class="normal">Live scores are calculated using the standard fantasy league points system. See the Rules and scoring link on each draft screen for the specific points and categories used in that contest.</p>

      <h3>SCORING REVISIONS</h3>
      <p class="normal">During each game, FantasyBook receives live scoring updates from our stats provider, STATS LLC. After the game has concluded, FantasyBook receives a final box score, which will be used to calculate the results of each contest. However, the leagues and stats provider will occasionally revise box scores after the final box score has been released. In the event this occurs, the player scores on FantasyBook will not be updated and the settlements will not be revised. Note that this is not the same situation as a case where a correction needs to be made after settlement due to a bug or issue with the data feed or the settlement process. In these cases the settlement process (including payment) may be reversed and redone correctly.</p>

      <h3>PAYOUTS</h3>
      <p class="normal">FantasyBook will wait until all of the final box scores have been reported for each contest's games to ensure that the final results are accurate. Our statistics provider, STATS LLC will occasionally make revisions to final box scores that correct statistics published live during the games. In those cases, payouts will be based on the final box scores, not the box scores published during live games. If revisions are made after the final box scores are published, payouts will not be reversed or changed. If there is difficulty obtaining official results or issues with scoring, the contest may be settled the following day or whenever the final box scores are initially published.</p>

    <h2> CFB </h2>
      <h3>POINT SCORING</h3>
        <ul>
            <li>Offensive players will accumulate points as follows:
            <ul>
                <li>Passing TD = +4Pts</li>
                <li>25 Passing Yards = +1Pt (+0.04Pt/ per yard is awarded)</li>
                <li>300+ Yard Passing Game = +3Pts</li>
                <li>Interception = -1Pt</li>
                <li>10 Rushing Yards = +1Pt (+0.1Pt per yard is awarded)</li>
                <li>Rushing TD = +6Pts</li>
                <li>100+ Yard Rushing Game = +3Pts</li>
                <li>10 Receiving Yards = +1Pt (+0.1Pt per yard is awarded)</li>
                <li>Reception = +1Pt</li>
                <li>Receiving TD = +6Pts</li>
                <li>100+ Yard Receiving Game = +3Pts</li>
                <li>Punt/Kickoff Return for TD = +6Pts</li>
                <li>Fumble Lost = -1Pt</li>
            </ul>
            </li>
        </ul>

      <h2>ADDITIONAL RULES</h2>

      <h3>POSITION ELIGIBILITY</h3>
      <p class="normal">All Position determinations for daily contests are at the sole discretion of FantasyBook.</p>

      <h3>TRADES, FREE AGENTS, AND BENCH PLAYERS</h3>
      <p class="normal">Since you only select players for a single week's games or events, there will be no trading of players, no free agent pick-ups, and no bench players involved in the contests.</p>

      <h3>GAME CANCELLATIONS AND POSTPONEMENTS</h3>
      <p class="normal">In the event that a scheduled game is cancelled, preempted, or postponed for any reason, no points will be awarded for players in the cancelled, preempted, or postponed game or event.</p>

      <h3>SUSPENDED OR SHORTENED GAMES</h3>
      <p class="normal">FantasyBook uses official NCAA statistics as provided by STATS LLC and includes all games that NCAA deems to be official and complete. If NCAA declares a game "suspended" then the statistics that are generated the day the game is originally scheduled will be used. Any statistics generated on a later date when the game is completed will not be included due to the one day nature of our contests.</p>

      <h3>ROSTER DEADLINES</h3>
      <p class="normal">Contests will close approximately five minutes before the start of the first game included in the contest. You can edit your roster as many times as you like, please note that a player becomes locked and may not be added or removed once that particular player's game has begun.</p>

      <h3>LIVE SCORING</h3>
      <p class="normal">Football contests that offer live scoring and standings updates are strictly for the enjoyment of FantasyBook customers. However, they are not official and are for informational purposes only. Official scores and results will be posted at the conclusion of the contest. You will know when the final results are posted when the contest status updates to "Completed", and the contests moves from the "Live Games" section to the "Completed Games" section on the My Contests page.</p>
      <p class="normal">Live scores are calculated using the standard fantasy league points system. See the Rules and scoring link on each draft screen for the specific points and categories used in that contest.</p>

      <h3>SCORING REVISIONS</h3>
      <p class="normal">During each game, FantasyBook receives live scoring updates from our stats provider, STATS LLC. After the game has concluded, FantasyBook receives a final box score, which will be used to calculate the results of each contest. However, the leagues and stats provider will occasionally revise box scores after the final box score has been released. In the event this occurs, the player scores on FantasyBook will not be updated and the settlements will not be revised. Note that this is not the same situation as a case where a correction needs to be made after settlement due to a bug or issue with the data feed or the settlement process. In these cases the settlement process (including payment) may be reversed and redone correctly.</p>

      <h3>PAYOUTS</h3>
      <p class="normal">FantasyBook will wait until all of the final box scores have been reported for each contest's games to ensure that the final results are accurate. Our statistics provider, STATS LLC will occasionally make revisions to final box scores that correct statistics published live during the games. In those cases, payouts will be based on the final box scores, not the box scores published during live games. If revisions are made after the final box scores are published, payouts will not be reversed or changed. If there is difficulty obtaining official results or issues with scoring, the contest may be settled the following day or whenever the final box scores are initially published.</p>

    <h2> CBB </h2>
      <h3>POINT SCORING</h3>
        <ul>
            <li>Players will accumulate points as follows:
            <ul>
                <li>Point = +1 Pt</li>
                <li>Made 3pt. shot = +0.5 Pts</li>
                <li>Rebound = +1.25 Pts</li>
                <li>Assist = +1.5 Pts</li>
                <li>Double-Double = +1.5Pts (MAX 1 PER ROSTER SPOT: Points, Rebounds, Assists only)</li>
                <li>Triple-Double = +3Pts (MAX 1 PER ROSTER SPOT: Points, Rebounds, Assists only)</li>
            </ul>
            </li>
        </ul>

      <h2>ADDITIONAL RULES</h2>

      <h3>POSITION ELIGIBILITY</h3>
      <p class="normal">All Position determinations for daily contests are at the sole discretion of FantasyBook.</p>

      <h3>TRADES, FREE AGENTS, AND BENCH PLAYERS</h3>
      <p class="normal">Since you only select players for a single week's games or events, there will be no trading of players, no free agent pick-ups, and no bench players involved in the contests.</p>

      <h3>GAME CANCELLATIONS AND POSTPONEMENTS</h3>
      <p class="normal">In the event that a scheduled game is cancelled, preempted, or postponed for any reason after the start of the contest that includes such cancelled, preempted or postponed game, no points will be awarded for players in the cancelled, preempted or postponed game or event.</p>

      <h3>SUSPENDED OR SHORTENED GAMES</h3>
      <p class="normal">FantasyBook uses official NCAA Basketball statistics as provided by STATS LLC and includes all games that the NCAA deems to be official and complete. If the NCAA declares a game "suspended" then the statistics that are generated the day the game is originally scheduled will be used. Any statistics generated on a later date when the game is completed will not be included due to the one day nature of our contests.</p>

      <h3>ROSTER DEADLINES</h3>
      <p class="normal">Contest entry will close approximately one minute before the start of the first game included in the contest. You can edit your roster as many times as you like before the contest closing time, and you can continue to edit players after contest start time that have not started playing yet.  Once a given NCAA Basketball game begins, all players on participating teams will lock and can no longer be edited.</p>

      <h3>LIVE SCORING</h3>
      <p class="normal">NCAA Basketball contests that offer live scoring and standings updates are strictly for the enjoyment of FantasyBook customers. However, they are not official and are for informational purposes only. Official scores and results will be posted at the conclusion of the contest. You will know when the final results are posted when the contest status updates to "Completed", and the contests moves from the "Live Games" section to the "Completed Games" section on the My Contests page.</p>
      <p class="normal">Live scores are calculated using the standard fantasy league points system. See the Rules and scoring link on each draft screen for the specific points and categories used in that contest.</p>

      <h3>SCORING REVISIONS</h3>
      <p class="normal">During each game, FantasyBook receives live scoring updates from our stats provider, STATS LLC. After the game has concluded, FantasyBook receives a final box score, which will be used to calculate the results of each contest. However, the leagues and stats provider will occasionally revise box scores after the final box score has been released. In the event this occurs, the player scores on FantasyBook will not be updated and the settlements will not be revised. Note that this is not the same situation as a case where a correction needs to be made after settlement due to a bug or issue with the data feed or the settlement process. In these cases the settlement process (including payment) may be reversed and redone correctly.</p>

      <h3>PAYOUTS</h3>
      <p class="normal">FantasyBook will wait until all of the final box scores have been reported for each contest's games to ensure that the final results are accurate. Our statistics provider, STATS LLC will occasionally make revisions to final box scores that correct statistics published live during the games. In those cases, payouts will be based on the final box scores, not the box scores published during live games. If revisions are made after the final box scores are published, payouts will not be reversed or changed. If there is difficulty obtaining official results or issues with scoring, the contest may be settled the following day or whenever the final box scores are initially published.</p>

    <h2> PGA </h2>
      <h3>POINT SCORING</h3>
        <p>Golfers on each team will accumulate points as follows:</p>
        <ul>
            <li>Per Hole Scoring
                <ul>
                    <li>Double Eagle (DBL EAG): +20 Pts</li>
                    <li>Eagle (EAG): +8 Pts</li>
                    <li>Birdie (BIR): +3 Pts</li>
                    <li>Par (PAR): +0.5 Pts</li>
                    <li>Bogey (BOG): -0.5 Pts</li>
                    <li>Double Bogey (DBL BOG): -1 Pt</li>
                    <li>Worse than Double Bogey (WORSE DBL BOG): -1 Pt</li>
                </ul>
            </li>
            <li>Tournament Finish Scoring
            <ul>
                <li>1st: 30 Pts</li>
                <li>2nd: 20 Pts</li>
                <li>3rd: 18 Pts</li>
                <li>4th: 16 Pts</li>
                <li>5th: 14 Pts</li>
                <li>6th: 12 Pts</li>
                <li>7th: 10 Pts</li>
                <li>8th: 9 Pts</li>
                <li>9th: 8 Pts</li>
                <li>10th: 7 Pts</li>
                <li>11th–15th: 6 Pts</li>
                <li>16th–20th: 5 Pts</li>
                <li>21st–25th: 4 Pts</li>
                <li>26th–30th: 3 Pts</li>
                <li>31st–40th: 2 Pts</li>
                <li>41st-50th: 1 Pts</li>
            </ul>
            </li>
            <li>Streaks and Bonuses
            <ul>
                <li>Streak of 3 Birdies of Better (MAX 1 Per Round) (3+ BIR STRK): +3 Pts</li>
                <li>Bogey Free Round (BOG FREE RD): +3 Pts</li>
                <li>All 4 Rounds Under 70 Strokes (ALL 4 RDS UND 70): +5 Pts</li>
                <li>Hole in One (HOLE IN ONE): +10 Pts</li>
            </ul>
            </li>
        </ul>
        <p>
            Scoring Notes:
            Ties for a finishing position will not reduce or average down points. For example, if 2 golfers tie for 3rd place,
            each will receive the 18 fantasy points for the 3rd place finish result. Playoff Holes will not count towards
            final scoring, with the exception of the "finishing position" scoring. For example, the golfer who wins the
            tournament will receive the sole award of 1st place points, but will not accrue points for their scoring result in
            the individual playoff holes.
        </p>
        <p>
            Player Lock Notes:
            All golfers lock at the time the first golfer tees off on day 1 of an event.
        </p>
        <p>
            Contest start times are subject to change. Please check back for exact times within 24 hours of the event.
        </p>


        <h2>ADDITIONAL RULES</h2>

        <h3>ELIGIBILITY</h3>
        <p class="normal">Golfer eligibility determinations and decisions around golfer inclusion into the player pool are at the sole discretion of FantasyBook.</p>

        <h3>TOURNAMENT CANCELLATIONS AND POSTPONEMENTS</h3>
        <p class="normal">In the event that a tournament is cancelled, all player entries will be cancelled and refunded.  If an event is postponed or delayed for a reasonable amount of time, as determined by FantasyBook in its sole discretion, the contests may remain live until which time the tournament is completed.  After final tournament results become available, the contests will be finalized and settled.</p>

        <h3>SHORTENED TOURNAMENTS</h3>
        <p class="normal">FantasyBook uses official PGA Tour statistics as provided by STATS LLC and includes all round and scoring data that the PGA and STATS LLC deems to be official and complete. If the PGA shortens an event for any reason, then the statistics that are generated for the portion of the tournament that has been completed will be used to settle contests and render them final.</p>

        <h3>ROSTER DEADLINES</h3>
        <p class="normal">Contests will close approximately five minutes before the start of the tournament included in the contest. You can edit your roster as many times as you like before the contest closing time, but all rosters are set and final and cannot be changed after a game locks. Contest start times are subject to change. Please check back for exact times within 24 hours of the event</p>

        <h3>LIVE SCORING</h3>
        <p class="normal">PGA Tour Golf contests that offer live scoring and standings updates are strictly for the enjoyment of FantasyBook customers. However, they are not official and are for informational purposes only. Official scores and results will be posted at the conclusion of the contest. You will know when the final results are posted when the contest status updates to "Completed", and the contests moves from the "Live Games" section to the "Completed Games" section on the <a href="/contest/mycontests">My Contests</a> page.</p>
        <p class="normal">Live scores are calculated using the standard fantasy league points system. See the Rules and scoring link on each draft screen for the specific points and categories used in that contest.</p>

        <h3>SCORING REVISIONS</h3>
        <p class="normal">During each game, FantasyBook receives live scoring updates from our stats provider, STATS LLC. After the game has concluded, FantasyBook receives a final box score, which will be used to calculate the results of each contest. However, the leagues and stats provider will occasionally revise box scores after the final box score has been released. In the event this occurs, the player scores on FantasyBook will not be updated and the settlements will not be revised. Note that this is not the same situation as a case where a correction needs to be made after settlement due to a bug or issue with the data feed or the settlement process. In these cases the settlement process (including payment) may be reversed and redone correctly.</p>

        <h3>PAYOUTS</h3>
        <p class="normal">FantasyBook will wait until all of the final box scores have been reported for each contest’s tournament to ensure that the final results are accurate. Our statistics provider, ESPN.com will occasionally make revisions to final box scores that correct statistics published live during the games. In those cases, payouts will be based on the final box scores, not the box scores published during live games. If revisions are made after the final box scores are published, payouts will not be reversed or changed. If there is difficulty obtaining official results or issues with scoring, the contest may be settled the following day or whenever the final box scores are initially published.</p>


</div>
