<div class="container padding-large-horizontal">

Current Balance: <%= number_to_currency current_user.balance_dollars %> <br />
Pending: <%= number_to_currency Wager.pending_wagers(current_user) %>

</div>
