<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container padding-large-horizontal">

<div class ="col-md-6">

<p> Recommend us on Twitter:</p><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.fantasybook.guru" data-text="Check out this site for a new way to wager on daily fantasy matchups." data-size="large" data-count="none">Tweet</a>

<p> Tweet to us on Twitter:</p><a href="https://twitter.com/intent/tweet?screen_name=fantasybooklive" class="twitter-mention-button" data-size="large" data-related="fantasybooklive">Tweet to @fantasybooklive</a>

</div>

<div class ="col-md-6">
<p> Like us on Facebook:</p><div class="fb-like" data-href="https://www.facebook.com/pages/Fantasybookguru/1503513283269643" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>

<p> Recommend us on Facebook:</p><div class="fb-like" data-href="https://www.facebook.com/pages/Fantasybookguru/1503513283269643" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="false"></div>

</div>
</div>



