<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation"> <%= link_to "Account Details", edit_user_registration_path %></li>
      <li role="presentation"> <%= link_to "Deposit",my_account_deposit_path %></li>
      <li role="presentation"> <%= link_to "Withdraw", my_account_withdraw_path %></li>
      <li role="presentation"> <%= link_to "Transfer", my_account_transfer_path %></li>
    </ul>
  </div>
</nav>

<h2> Withdraw </h2>
