// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "just_datetime_picker/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

textarea {
  height: 9px;
}

input#transfer_amount_dollars, input#wager_spread, input#wager_odds,
input#wager_risk_dollars, input#wager_spread_line, input#wager_odds_juice,
input#credit_amount_dollars, input#prop_ampm_time
  {
  width: 50px;
}

.hidden {
  display: none;
}

.grade-prop {
  width: 250px;
  height: 200px;
  display: inline-table;
  border: 1px solid;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 5px;
}

.team1, .team2, .push, .noAction, .regradeTeam1, .regradeTeam2,
.regradePush, .regradeNoAction {
  padding: 4px 8px 3px
}

.grade {
  display: inline-block;
}

textarea#mass_email_message {
  height: 100px;
}
