@import "bootstrap-sprockets";
@import "bootstrap";

.devise, .account-details {
  margin: auto;
  text-align: center;
}

.devise {
  width: 350px;
}

.account-details {
  width: 400px;
  label {
    float: left;
  }
  input, select {
    float: right;
    width: 225px;
    height: 24px;
  }
  input {
    font-size: small;
  }
  input[type="submit"] {
    float: none;
  }
  select {
    font-size: 25px;
  }
  i {
    font-size: 10px;
    float: left;
  }
  .field {
    padding-bottom: 40px;
  }
}

.left {
  float: left;
  min-width: 50%;
  height: 20px;
}

.right {
  float: right;
  min-width: 50%;
  height: 20px;
}

.transfer-form {
  label {
    float: left;
  }
  input {
    float: right;
    width: 150px;
    height: 24px;
    font-size: small;
  }
  .field {
    padding-bottom: 40px;
  }
}

body {
  padding-bottom: 70px;
}

.myalert {
  background-color: red;
  color: white;
  padding: 10px;
  border: 3px solid darkred;
  border-radius: 10px;
  float: none;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center
}

