@import "bootstrap-sprockets";
@import "bootstrap";

.devise, .account-details {
  margin: auto;
  width: 350px;
  text-align: center;
}

.account-details {
  label {
    float: left;
  }
  input, select {
    float: right;
    width: 175px;
    height: 30px;
  }
  i {
    font-size: 10px;
    float: left;
  }
  .field {
    padding-bottom: 40px;
  }
}

body {
  padding-bottom: 70px;
}

.myalert {
  background-color: red;
  color: white;
  padding: 10px;
  border: 3px solid darkred;
  border-radius: 10px;
  float: none;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center
}

